.shunt {
  margin-top: $leading*2;
}

.shunt-2 {
  margin-top: $leading*4;
}

.container {
  margin: 16px 0 !important;

  @include media(640px) {
    margin: 32px 0 !important;
  }
}


.practice-location {
  margin-bottom: 16px;

  @include media(640px) {
    margin: 0;
  }
}
