pre.user-input {
  @extend body;

  font-size: inherit;
}

.on-dark {
  margin: 12px 0;
  font-size: 16px;
  line-height: 22px;

  a {
    color:white !important;

    &:visited {
      color: $white;
    }
  }
}

.p--header {
  font-size: 16px;
  line-height: 24px;
  margin: 4px 0;

  &:first-of-type {
    margin-top: 0;
  }
}

.h1--surgery {
  margin-bottom: 8px;
}

.p__header--address {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;

  @include media(640px) {
    margin-bottom: 24px;
  }
}

.p__header--telephone {
  margin:0;
  font-size:18px;
  line-height:22px;
  margin-bottom:4px;

  @include media(mid) {
    font-size: 24px;
    line-height: 28px;
  }
}
