pre.user-input {
  @extend body;

  font-size: inherit;
}


.on-dark {
  margin: 12px 0;
  font-size: 16px;
  line-height: 22px;

  a {
    color:white !important;

    &:visited {
      color: $pure-white;
    }
  }
}
