<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block page_title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    {% block html_head %}{% endblock %}
  </head>

  <body class="{% block body_css_classes %}{% endblock %}">
    <script>document.body.className = ((document.body.className) ? document.body.className + 'js-enabled' : 'js-enabled');</script>
    {% include '_includes/masthead.html' %}
    <div class="content">
      <div class="grid-row">
        <div class="grid-2-3">
          <a href="/exploration/exceptional-opening-hours/page-examples/exceptional-opening-hours-warning-v2"><h3>Callout - Below title</h3></a>
          {% include '_includes/exceptional-opening-hours/exceptional-opening-hours-warning-v3.html' %}
          <hr/>
          <a href="/exploration/exceptional-opening-hours/page-examples/exceptional-opening-hours-warning-v3"><h3>Callout - Text align </h3></a>
          {% include '_includes/exceptional-opening-hours/exceptional-opening-hours-warning-v2.html' %}
          <hr/>
          <a href="/exploration/exceptional-opening-hours/page-examples/exceptional-opening-hours-warning-v4"><h3>Callout - Unordered list </h3></a>
          {% include '_includes/exceptional-opening-hours/exceptional-opening-hours-warning-v4.html' %}
          <hr/>
          <a href="/exploration/exceptional-opening-hours/page-examples/exceptional-opening-hours-warning-v5"><h3>Callout - Ordered list </h3></a>
          {% include '_includes/exceptional-opening-hours/exceptional-opening-hours-warning-v5.html' %}
          <hr/>
          <a href="/exploration/exceptional-opening-hours/page-examples/exceptional-opening-hours-warning-v6"><h3>Callout - Table </h3></a>
          {% include '_includes/exceptional-opening-hours/exceptional-opening-hours-warning-v6.html' %}
          <hr/>
          <a href="/exploration/exceptional-opening-hours/page-examples/exceptional-opening-hours-warning-v7"><h3>Callout - H2 title </h3></a>
          {% include '_includes/exceptional-opening-hours/exceptional-opening-hours-warning-v7.html' %}
          <hr/>
        </div>
      </div>
    </div>

    {% include '_includes/footer.html' %}
    <script src="/scripts/jquery-1.12.4.min.js"></script>
    <script src="/scripts/selection-buttons.js"></script>
    <!-- additional scripts etc -->
    {% block body_after %}{% endblock %}
  </body>

</html>
