{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}Index : {{serviceName}}{% endblock %}

{% block pageTitle %}Future iterations{% endblock %}

{% block pageIntro %}Exploratory design work.{% endblock%}

{% block content %}

  <div class="first-item">
    <a href="/exploration/header-exploration/v2"><h3>Header design v2</h3></a>
    <p>Two design options based on team review 29/03/17</p>
    <hr class="hr--full-width"/>
    <a href="/exploration/header-exploration/v1"><h3>Header design v1</h3></a>
    <hr class="hr--full-width"/>

    <a href="/exploration/mvp-v1_4_1"><h3>MVP - V1.4.1</h3></a>
    <p>Small design changes to current design.</p>
  </div>
  <hr class="hr--full-width"/>
{% endblock %}

{% block footer %}{% endblock %}
