  <h2>Services this surgery offers</h2>

  <h3>Services that need a GP referral</h3>
  <table>
    <tbody>
      <tr>
        <th>Service</th>
        <th>Do you need to see a GP before booking?</th>
        <th>Where does the service take place?</th>
      </tr>
      <tr>
        <td>Asthma clinic</td>
        <td>No</td>
        <td>At this surgery</td>
      </tr>
      <tr>
        <td>Child health and development</td>
        <td>No</td>
        <td>At this surgery</td>
      </tr>
      <tr>
        <td>Child immunisations</td>
        <td>No</td>
        <td>At this surgery</td>
      </tr>
      <tr>
        <td>COPD clinic with spirometry</td>
        <td>No</td>
        <td>At this surgery</td>
      </tr>
      <tr>
        <td>Primary care counselling service</td>
        <td>No</td>
        <td>At this surgery</td>
      </tr>
      <tr>
        <td>Diabetes clinic providing insulin initiation</td>
        <td>No</td>
        <td>At this surgery</td>
      </tr>
      <tr>
        <td>Smoking cessation </td>
        <td>No</td>
        <td>At this surgery</td>
      </tr>
      <tr>
        <td>Minor surgery (eg removal of moles and skin lesions)</td>
        <td>No</td>
        <td>At this surgery</td>
      </tr>
    </tbody>
  </table>

