<div class="contact-details">

 <div class="display--desktop">
     <div class="grid-1-2" style="margin-left:0;">
       <div class="p--header">Reception: <a href="tel:02476-307024">02476 307024</a></div>
       <div class="p--header">Fax: 02476 636886</div>
     </div>
     <div class="grid-1-2">
       <div class="p--header">Email: <a href="mailto:reception@kmc.nhs.uk ">reception@kmc.nhs.uk</a></div>
       <div class="p--header"><a href="https://kenyonmedicalcentres.gpsurgery.net/">See the surgery's own website <!-- <span><img src="/images/external-link.svg"></span> --> </a></div>
     </div>
 </div>

  <div class="display--mobile">
    <details class="" role="closed" closed>
      <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="false">
        <span class="details__summary">Contact the surgery</span>
      </summary>
      <div class="details__content" style="border-left:2px solid #337ec6; padding-left:8px;" id="details-content-0" aria-hidden="true">
        <div class="p--header" style="margin-top:12px;">Reception: <a href="tel:02476-307024">02476 307024</a></div>
        <div class="p--header">Fax: 02476 636886</div>
        <div class="p--header">Email: <a href="mailto:reception@kmc.nhs.uk ">reception@kmc.nhs.uk</a></div>
        <div class="p--header"><a href="https://kenyonmedicalcentres.gpsurgery.net/">See the surgery's own website </a></div>
      </div>
    </details>
  </div>

</div>
