<div class="callout callout--warning">
  <p style="margin-top:0; padding-left:8px;"><b>Changes to opening times</b></p>
  <div class="appointments__desktop">
    <table style="border-top:0; margin-bottom:0;">
      <tr>
        <td>Friday 26th May</td>
        <td>8am to 12pm</td>
      </tr>
      <tr>
        <td style="border-bottom:0;">Monday 29th May</td>
        <td style="border-bottom:0;">Closed</td>
      </tr>
    </table>
  </div>

  <dl class='appointments__mobile appointments__mobile--callout'>
    <div class="dt__day--callout">
      <dt>Friday 26th May</dt>
      <td>8am to 12pm</td>
    </div>
    <div class="dt__day--callout">
      <dt>Monday 29th May</dt>
      <td>Closed</td>
    </div>
  </dl>
</div>
