<div class="gp-appointment-times">
  <h2 style="padding-bottom:8px;">GP appointment times</h2>
  <table>
      <tbody>
          <tr>
              <td>Monday</td>
              <td>8am to 1pm</td>
              <td>3pm to 6pm</td>
          </tr>
          <tr>
              <td>Tuesday</td>
              <td>8am to 1pm</td>
              <td>3pm to 6pm</td>
          </tr>
          <tr>
              <td>Wednesday</td>
              <td>8am to 1pm</td>
              <td>3pm to 6pm</td>
          </tr>
          <tr>
              <td>Thursday</td>
              <td>8am to 1:30pm</td>
              <td></td>
          </tr>
          <tr>
              <td>Friday</td>
              <td>8am to 1pm</td>
              <td>3pm to 6pm</td>
          </tr>
      </tbody>
  </table>
  <p>You can also see a GP Monday, Wednesday and Friday 7am to 7:50am. But you will have to book at least a week in advance.</p>
</div>
