<header role="banner" id="global-header">
  <div class="notification-banner notification-banner__hiviz js-feedback-banner">
    <p class="notification-banner--inner">This is a new page. <a class="choices-profile-link" href="http://www.nhs.uk/Services/GP/Overview/DefaultView.aspx?id=41313">See the current version of this page</a> on NHS Choices.</p>
  </div>
  <div class="header-container">
    <a href="/" class="header-logo" title="Go to the index page">
      <img src="/images/nhs-logotype-blue.svg" alt="NHS" />
    </a>
  </div>
</header>
