<div class="opening-times">
  <h2 style="padding-bottom:8px;">Opening times</h2>
  <h4 style="margin-bottom:8px;">Reception opening times</h4>
  <table>
      <tbody>
          <tr>
              <td>Monday</td>
              <td>8am to 6pm</td>
          </tr>
          <tr>
              <td>Tuesday</td>
              <td>8am to 6pm</td>
          </tr>
          <tr>
              <td>Wednesday</td>
              <td>8am to 6pm</td>
          </tr>
          <tr>
              <td>Thursday</td>
              <td>8am to 1:30pm</td>
          </tr>
          <tr>
              <td>Friday</td>
              <td>8am to 6pm</td>
          </tr>
      </tbody>
  </table>
</div>
