<h2>Services at this surgery</h2>
<h3>Services that need a GP referral</h3>
<p style="margin:16px 0;">Minor surgery (for example removing moles)</p>
<p style="margin:16px 0;">Counselling </p>

<h3>Services patients need to see a GP for</h3>
<p style="margin:16px 0;">Child vaccinations</p>
<p style="margin:16px 0;">Asthma clinic</p>
<p style="margin:16px 0;">Diabetes clinic</p>
<p style="margin:16px 0;">Clinic for chronic obstructive pulmonary disease (COPD)</p>
<p style="margin:16px 0;">Help with stopping smoking</p>
<p style="margin:16px 0;">Travel vaccinations </p>
