<h2>Services at this surgery</h2>
<h3 style="margin-bottom:16px;">Services you need to see a GP for</h3>
<table>
  <tr>
    <th>Service</th>
    <th>Definition</th>
  </tr>
  <tr>
    <td>Minor surgery</td>
    <td>Minor surgery (for example removing moles)</td>
  </tr>
  <tr>
    <td>Primary care counselling service</td>
    <td>Counselling</td>
  </tr>
</table>

<h3 style="margin-bottom:16px;">Services patients can book themselves</h3>
<table>
  <tr>
    <th>Service</th>
    <th>Definition</th>
  </tr>
  <tr>
    <td>Child immunisations</td>
    <td>Child vaccinations</td>
  </tr>
  <tr>
    <td>Asthma clinic</td>
    <td>Asthma clinic</td>
  </tr>
  <tr>
    <td>Diabetes clinic providing insulation initiation</td>
    <td>Diabetes clinic</td>
  </tr>
  <tr>
    <td>COPD clinic with spirometry</td>
    <td>Clinic for chronic obstructive pulmonary disease (COPD)</td>
  </tr>
  <tr>
    <td>Smoking cessation clinic</td>
    <td>Help with stopping smoking</td>
  </tr>
  <tr>
    <td>Travel health with yellow fever</td>
    <td>Travel vaccinations (including yellow fever)</td>
  </tr>
</table>
