<h2>Contact this surgery</h2>
<p>
  Reception: 02476 307024<br />
  Email: reception@kmc.nhs.uk <br />
  Fax: 02476 636886<br />
</p>

<!-- <details role="group" style="margin:16px 0 0 0;" >
  <summary data-analytics="summary" role="button">
    <a href="#"><span class="p--header-panel">See contact information</span></a>
  </summary>
  <div id="details-content-0" aria-hidden="true">
    <div class="card__container">
      <p class="p--header-panel">
        Reception: 02476 307024<br />
        Email: reception@kmc.nhs.uk <br />
        Fax: 02476 636886<br />
      </p>
    </div>
  </div>
</details> -->
