<div class="callout callout--warning">
  <h3 style="margin-top:0; padding-left:8px;">Bank holiday opening</h3>
  <div class="appointments__desktop">
    <table style="border-top:0; margin-bottom:0;">
      <tr>
        <td><b>Friday 26th May</b></td>
        <td>8am to 12pm</td>
        <td>2pm to 4pm</td>
        <td>6pm to 8pm</td>
      </tr>
      <tr>
        <td><b>Monday 29th May</b></td>
        <td>8am to 12pm</td>
        <td>2pm to 4pm</td>
        <td>6pm to 8pm</td>
      </tr>
    </table>
  </div>

  <dl class='appointments__mobile appointments__mobile--callout'>
    <div class="dt__day--callout">
      <dt>Friday 26th May</dt>
      <dd>8am to 12pm</dd>
      <dd>2pm to 4pm</dd>
      <dd>6pm to 8pm</dd>
    </div>
    <div class="dt__day--callout">
      <dt>Monday 29th May</dt>
      <dd>8am to 12pm</dd>
      <dd>2pm to 4pm</dd>
      <dd>6pm to 8pm</dd>
    </div>
  </dl>
</div>
