.header-panel {
  color: $pure-white;
  background-color: $nhs-blue;
  padding-top: $leading;
  padding-left: $leading;
  padding-right: $leading;
  padding-bottom: $leading/2;
  margin: 0 auto;


  @include media(900px) {
    padding-top: $leading*2;
    padding-left: $leading*2;
    padding-right: $leading*2;
    padding-bottom: $leading;
    margin-top: 32px;
    max-width: 900px;
  }

  .header {
    margin-bottom: $leading*2;
  }

  .content-seperator {
    width: 130px;
    height: $leading/4;
    background-color: tint($nhs-blue, 20%);
    margin-bottom: $leading*2;
  }

  .precis {
    font-weight: $lightweight;
  }
}

.header-panel__content {
  max-width: 960px;
  margin: 0 auto;
}


.header__address {
  width: 100%;
  display: inline-block;

    @include media(640px) {
      width:49%;
      float: left; 
  }
}

.header__contact {
  width: 100%;
  display: inline-block;

    @include media(640px) {
      width:49%;
  }
}
