table {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid $pale-grey;
  margin-bottom: $leading*2;

  th, td {
    text-align: left;
    vertical-align: top;
    padding: $leading $leading/2;

    font-weight: $bodyweight;
    font-size: $smallprint;
    line-height: 18px;

    border-bottom: 1px solid $pale-grey;

    @include media(mid) {
      font-size: $body--mobile;
      line-height: 22px;
    }
  }

  th {
    color: $dark-grey;
  }

  .control {
    text-align: right;

    .button {
      padding: $leading;
      margin-right: 0;
      line-height: $leading;
    }
  }

  &.natural {
    width: auto;
  }

  &.compact {
    th, td {
      padding: leading/2;
    }
  }

}

.br__table {
  display: block;

  @include media(mid) {
    display: none;
  }

}
