{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}Exceptional opening hours{{serviceName}}{% endblock %}

{% block pageTitle %}Exceptional opening hours{% endblock %}

{% block pageIntro %}Prototype to explore exceptional opening hours.{% endblock%}

{% block content %}

  <div class="first-item">
    <a href="/exploration/exceptional-opening-hours/v1"><h3>Exceptional opening hours v1</h3></a>
    <p>Exploring callout styles.</p>
    <a href="/exploration/exceptional-opening-hours/v1_1"><h3>Exceptional opening hours v1.1</h3></a>
    <p>Exploring layout and position of warning callout style.</p>
    <a href="/exploration/exceptional-opening-hours/v1_2"><h3>Exceptional opening hours v1.2</h3></a>
    <p>Exploring edge case scenarios</p>
    <hr />
    <a href="/exploration/exceptional-opening-hours/v2"><h3>Exceptional opening hours v2</h3></a>
    <p>Exploring inline table styles.</p>
    <hr />
    <a href="/exploration/exceptional-opening-hours/test"><h3>Exceptional opening hours - test</h3></a>
    <p>Design variants to test.</p>
  </div>
{% endblock %}

{% block footer %}{% endblock %}
