{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}Index : {{serviceName}}{% endblock %}

{% block pageTitle %}Future iterations{% endblock %}

{% block pageIntro %}Exploratory design work.{% endblock%}

{% block content %}

  <div class="first-item">
    <a href="/header-exploration"><h3>Header design exploration</h3></a>
    <p>Improving the accessibility and structure of the header component.</p>

    <a href="/mvp-v1_4_1"><h3>MVP - V1.4.1</h3></a>
    <p>Small design changes to current design.</p>
  </div>
  <hr class="hr--full-width"/>
{% endblock %}

{% block footer %}{% endblock %}
