{% extends '_layouts/layout_2-3_1-3_v5.html' %}

{% block page_title %}
  Hub
{% endblock page_title %}

{% block pageTitle %}
  Kenyon Medical Centres: Brandon Road
{% endblock pageTitle %}

{% block surgeryInfo %}
  {% include '_includes/hub/phone-number.html' %}
{% endblock %}

<!-- Main content here -->
{% block content %}
  {% include '_includes/hub/reception-opening-times.html' %}
  <hr class="hr--full-width" />
  {% include '_includes/hub/tasks.html' %}
  <hr class="hr--full-width" />
  {% include '_includes/hub/register-link.html' %}
  <hr class="hr--full-width" />
  {% include '_includes/hub/need-help-quickly.html' %}
{% endblock content %}
