{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}Index : {{serviceName}}{% endblock %}

{% block pageTitle %}Prototypes{% endblock %}

{% block pageIntro %}This is the design work for the 'Page per GP' service.{% endblock%}

{% block content %}

  <h2>Page per GP design variations</h2>
  <ul>
    <li><a href="/page-per-gp-v3">Page per GP V3 - 23/01/17</a></li>
    <hr style="margin-bottom:32px;" />
    <li><a href="/page-per-gp-v2">Page per GP V2 - 20/01/17</a></li>
    <p>V2 will look to explore the actions raised within the team review on 19/01/17.</p>
    <hr style="margin-bottom:32px;" />
    <li><a href="/page-per-gp-v1">Page per GP V1 - 19/01/17</a></li>
  </ul>

{% endblock %}

{% block footer %}{% endblock %}
