{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}Index : {{serviceName}}{% endblock %}

{% block pageTitle %}GP Profile prototypes{% endblock %}

{% block pageIntro %}Design exploration for the NHS GP profile pages.{% endblock%}

{% block content %}

  <div class="first-item">
    <h2>Design exploration</h2>
    <a href="/exploration/index"><h3>Future iterations</h3></a>
    <hr />

    <h2>Sprint 56 lab testing</h2>
    <a href="/v1_4_1"><h3>V1.4.1</h3></a>
    <p><b>Design option 2</b></p>

    <a href="/v1_4"><h3>V1.4</h3></a>
    <p><b>Design option 1</b></p>
    <ul>
      <li>Header design</li>
      <li>Opening times</li>
      <li>Contact information</li>
      <li>Map link</li>
      <li>Link to surgery website</li>
      <li>Online services section</li>
      <li>Removal of Book an appointment with a GP section</li>
      <li>Changing register section to "How to register"</li>
    </ul>
    <hr class="hr--full-width"/>
    <h2>Previous iterations</h2>
    <h3>V1.3 - Monday 6th March lab</h3>
    <ul>
      <li><a href="/archive/mvp-v1_3">V1.3 - Kenyon Medical Centres</a></li>
      <li><a href="/archive/mvp-v1_3_1">V1.3 - Beeston Village Surgery</a></li>
      <li><a href="/archive/mvp-v1_3_2">V1.3 - Leedscity</a></li>
      <li><a href="/archive/mvp-v1_3_3">V1.3 - Oakley</a></li>
      <li><a href="/archive/mvp-v1_3_4">V1.3 - Parkside</a></li>
      <li><a href="/archive/mvp-v1_3_5">V1.3 - Cross Hills</a></li>
    </ul>
    <a href="/mvp/mvp-v1_2"><h3>V1.2</h3></a>
    <p>Taking on board comments from design review with Joe - 24/02/17. <a href="https://trello.com/c/vmRiPoUW/812-create-mvp-design-for-gp-page-ready-for-production-build"> Comments can be found here</a></p>
    <a href="/mvp/mvp-v1_1"><h3>V1.1</h3></a>
    <p>Design updates to anchor links, removing content for MVP. Refer to V1 for content to be added in further iterations.</p>
    <a href="/mvp/mvp-v1"><h3>V1</h3></a>
    <p>V1 explores drop links as navigational tools</p>

  <hr class="hr--full-width"/>
  <h2>Archive</h2>
  <a href="/archive/archive">Archive</a></li>
{% endblock %}

{% block footer %}{% endblock %}
