{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}Index : {{serviceName}}{% endblock %}

{% block pageTitle %}Prototypes{% endblock %}

{% block pageIntro %}This is the design work for the 'Page per GP' service.{% endblock%}

{% block content %}

  <div class="first-item">
    <h2>MVP - Page per GP </h2>
    <a href="/mvp-v1"><h3>MVP - V1</h3></a>
    <p>V1 explores drop links as navigational tools</p>
    <a href="/mvp-v1_1"><h3>MVP - V1.1</h3></a>
    <p>Design updates to anchor links, removing content for MVP. Refer to V1 for content to be added in further iterations.</p>
    <hr />
    <a href="/mvp-v1_2"><h3>MVP - V1.2</h3></a>
    <p>Taking on board comments from design review with Joe - 24/02/17. <a href="https://trello.com/c/vmRiPoUW/812-create-mvp-design-for-gp-page-ready-for-production-build"> Comments can be found here</a></p>
    <hr />
    <h3>Monday 6th March lab</h3>
    <ul>
    <li><a href="/mvp-v1_3">MVP - V1.3 - Kenyon Medical Centres</a></li>
    <li><a href="/mvp-v1_3_1">MVP - V1.3 - Beeston Village Surgery</a></li>
    <li><a href="/mvp-v1_3_2">MVP - V1.3 - Leedscity</a></li>
    <li><a href="/mvp-v1_3_3">MVP - V1.3 - Oakley</a></li>
    <li><a href="/mvp-v1_3_4">MVP - V1.3 - Parkside</a></li>
    </ul>
    <hr />
    <a href="/mvp-v2"><h3>MVP - V2</h3></a>
    <p>V2 explores using links to present users with information based on their needs.</p>
    <hr class="hr--full-width"/>
  </div>

  <h2>Design exploration - 13/02/17 </h2>
  <ul>
    <li><a href="/hub-v1">Hub - V1</a></li>
    <li><a href="/hub-v2">Hub - V2</a></li>
    <li><a href="/hybrid">Hybrid</a></li>
    <li><a href="/non-registered-v1">non-registered - V1</a></li>
    <li><a href="/non-registered-v2">non-registered - V2</a></li>
  </ul>
  <hr class="hr--full-width"/>

  <h2>User testing - 06/02/17 </h2>
  <ul>
    <li><a href="/archive/06-02-17-testing/registered">Registered patients</a></li>
    <li><a href="/archive/06-02-17-testing/non-registered">Non-registered patients</a></li>
    <li><a href="/archive/06-02-17-testing/hybrid">Hybrid</a></li>
  </ul>
  <hr class="hr--full-width"/>

  <h2>Archive</h2>
  <ul>
    <li><a href="/archive/archive">Archive</a></li>
  </ul>
  <hr class="hr--full-width" />
{% endblock %}

{% block footer %}{% endblock %}
