{% extends '_layouts/layout_mvp-v2.html' %}

{% block page_title %}
  MVP V2
{% endblock page_title %}

{% block pageTitle %}
  Kenyon Medical Centres: Brandon Road
{% endblock pageTitle %}

{% block leftHalf %}
  {% include '_includes/mvp-v2/address.html' %}
{% endblock %}

{% block rightHalf %}
  {% include '_includes/mvp-v2/contact.html' %}
{% endblock %}

<!-- Main content here -->
{% block content %}
  <hr class="hr--full-width" style="margin:40px 0;" />
  {% include '_includes/mvp-v2/what-are-you-doing.html' %}
  <hr class="hr--full-width" style="margin:40px 0;" />
<!--  {% include '_includes/mvp-v2/when-the-surgery-is-open.html' %}
  {% include '_includes/mvp-v2/when-gp-see-patients.html' %}
  <hr class="hr--full-width" style="margin:40px 0;" />
  {% include '_includes/mvp-v2/tasks.html' %}
  <hr class="hr--full-width" style="margin:40px 0;" />
  {% include '_includes/mvp-v2/what-patients-say-about-this-surgery.html' %}
  {% include '_includes/mvp-v2/healthcare-staff-at-this-surgery.html' %}
  <hr class="hr--full-width" style="margin:40px 0;" />
  {% include '_includes/mvp-v2/specialised-services.html' %}
  <hr class="hr--full-width" style="margin:40px 0;" />
  {% include '_includes/mvp-v2/facilities.html' %}
  <hr class="hr--full-width" style="margin:40px 0;" />
  {% include '_includes/mvp-v2/register-as-patient.html' %} -->
{% endblock content %}
