{% extends '_layouts/layout_mvp-v1.html' %}

{% block page_title %}
  Kenyon Medical Centres: Brandon Road
{% endblock page_title %}

{% block pageTitle %}
  Kenyon Medical Centres: Brandon Road
{% endblock pageTitle %}

{% block leftHalf %}
  {% include '_includes/mvp-v1_3/address.html' %}
{% endblock %}

{% block rightHalf %}
  {% include '_includes/mvp-v1_3/contact.html' %}
{% endblock %}

<!-- Main content here -->
{% block content %}
  <hr/>
  {% include '_includes/mvp-v1_3/when-the-reception-is-open.html' %}
  <hr/>
  {% include '_includes/mvp-v1_3/when-gp-see-patients.html' %}
  <hr/>
  {% include '_includes/mvp-v1_3/tasks.html' %}
  <hr/>
  {% include '_includes/mvp-v1_3/what-patients-say-about-this-surgery.html' %}
  <hr/>
  {% include '_includes/mvp-v1_3/healthcare-staff-at-this-surgery.html' %}
  <hr/>
  {% include '_includes/mvp-v1_3/specialised-services.html' %}
  <hr/>
  {% include '_includes/mvp-v1_3/facilities.html' %}
  <hr/>
  {% include '_includes/mvp-v1_3/register-as-patient.html' %}
{% endblock content %}
