{% extends '_layouts/layout_mvp-v4.html' %}

{% block page_title %}
  Kenyon Medical Centres: Brandon Road
{% endblock page_title %}

{% block pageTitle %}
  Kenyon Medical Centres: Brandon Road
{% endblock pageTitle %}

{% block leftHalf %}
  {% include '_includes/mvp-v1_4/address.html' %}
{% endblock %}

{% block rightHalf %}
  {% include '_includes/mvp-v1_4/contact.html' %}
{% endblock %}

<!-- Main content here -->
{% block content %}
  {% include '_includes/mvp-v1_4/when-the-reception-is-open.html' %}
  <hr/>
  {% include '_includes/mvp-v1_4/when-gp-see-patients.html' %}
  <hr/>
  {% include '_includes/mvp-v1_4/tasks.html' %}
  <hr/>
  {% include '_includes/mvp-v1_4/what-patients-say-about-this-surgery.html' %}
  <hr/>
  {% include '_includes/mvp-v1_4/healthcare-staff-at-this-surgery.html' %}
  <hr/>
  {% include '_includes/mvp-v1_4/specialised-services.html' %}
  <hr/>
  {% include '_includes/mvp-v1_4/facilities.html' %}
  <hr/>
  {% include '_includes/mvp-v1_4/register-as-patient.html' %}
  <hr/>
  <div id="contact">{% include '_includes/mvp-v1_4/contact.html' %}</div>
{% endblock content %}
