{% extends '_layouts/layout_mvp.html' %}

{% block page_title %}
  Non-registered
{% endblock page_title %}

{% block pageTitle %}
  Kenyon Medical Centres: Brandon Road
{% endblock pageTitle %}

{% block pageIntro %}
  <a href="#address-contact">Address and contact details</a><br/>
  <a href="#when-the-surgery-is-open">When the surgery is open</a><br/>
  <a href="#when-to-see-a-gp">When GPs see patients</a><br/>
  <a href="#if-the-surgery-is-closed">If the surgery is closed</a><br/>
  <a href="#patients-stats">What patients say about this surgery</a><br/>
  <a href="#healthcare-staff">Healthcare staff at this surgery</a><br/>
  <a href="#specialied-services">Specialised services</a><br/>
  <a href="#facilities">Facilities</a><br/>
  <a href="#register">Register as a patient with this surgery</a><br/>
{% endblock %}

{% block acceptingPatients %}
  {% include '_includes/mvp/accepting-patients.html' %}
{% endblock %}

<!-- Main content here -->
{% block content %}
  <div id="address-contact">{% include '_includes/mvp/location.html' %}</div>
  <hr class="hr--full-width" style="margin:40px 0;" />
  <div id="when-the-surgery-is-open">{% include '_includes/mvp/reception-opening-times.html' %}</div>
  <div id="when-to-see-a-gp">{% include '_includes/mvp/when-you-can-see-a-gp.html' %}</div>
  <hr class="hr--full-width" style="margin:40px 0;" />
  <div id="if-the-surgery-is-closed">{% include '_includes/mvp/need-help-quickly.html' %}</div>
  <div id="patients-stats">{% include '_includes/mvp/patient-stats.html' %}</div>
  <div id="healthcare-staff">{% include '_includes/mvp/staff-at-this-surgery.html' %}</div>
  <hr class="hr--full-width" style="margin:40px 0;" />
  <div id="specialied-services">{% include '_includes/mvp/specialised-services.html' %}</div>
  <hr class="hr--full-width" style="margin:40px 0;" />
  <div id="facilities">{% include '_includes/mvp/facilities.html' %}</div>
  <hr class="hr--full-width" style="margin:40px 0;" />
  <div id="register">{% include '_includes/mvp/register.html' %}
{% endblock content %}
