{% extends '_layouts/layout_2-3_1-3_v5.html' %}

{% block page_title %}
  Page per GP - NHS.UK
{% endblock page_title %}

{% block pageTitle %}
  Kenyon Medical Centre: Brandon Road
{% endblock pageTitle %}

{% block surgeryInfo %}
  {% include '_includes/v5/contact-details.html' %}
{% endblock %}

<!-- Main content here -->
{% block content %}
  {% include '_includes/v5/open-emergency-same-day-appointments.html' %}
  {% include '_includes/v5/bank-holiday-times.html' %}
  {% include '_includes/v5/things-you-can-do-online.html' %}
{% endblock content %}


{% block rightColumn %}
    {% include '_includes/v5/need-help-quickly.html' %}
{% endblock rightColumn %}
