{% extends '_layouts/layout_2-3_no_title_block.html' %}

{% block page_title %}
  Page per GP - NHS.UK
{% endblock page_title %}

{% block pageTitle %}
  Kenyon Medical Centres
{% endblock pageTitle %}

{% block googleMap %}
  {% include '_includes/accepting-patients.html' %}
  {% include '_includes/location-map.html' %}
{% endblock googleMap %}

<!-- Main content here -->
{% block content %}

  {% include '_includes/practice-location.html' %}
  {% include '_includes/practice-contact-details.html' %}
  <hr style="margin:16px 0;" />
  {% include '_includes/opening-times.html' %}
  {% include '_includes/gp-appointment-times.html' %}
  <hr style="margin:16px 0;" />
  {% include '_includes/registered-patients.html' %}
  {% include '_includes/statistics.html' %}
  <hr style="margin:32px 0;" />
  {% include '_includes/staff.html' %}
  <hr style="margin:32px 0 24px 0;" />
  {% include '_includes/services-clinics.html' %}
  <hr style="margin:32px 0 24px 0;" />
  {% include '_includes/parking.html' %}

  <!-- <section class="muted">
    <h3>Make an appointment</h3>
    You can book an appointment for this GP practice online.
    <p><a href="book-an-appointment-online" class="button">Continue</a>
  </section> -->
{% endblock content %}
