{% extends '_layouts/layout_2-3_1-3_v5.html' %}

{% block page_title %}
  Registered
{% endblock page_title %}

{% block pageTitle %}
  Kenyon Medical Centres: Brandon Road
{% endblock pageTitle %}

{% block surgeryInfo %}
  {% include '_includes/registered/phone-number.html' %}
{% endblock %}

<!-- Main content here -->
{% block content %}
  {% include '_includes/registered/reception-opening-times.html' %}
  <hr class="hr--full-width" />
  {% include '_includes/registered/tasks.html' %}
  <hr class="hr--full-width" />
{% endblock content %}


{% block rightColumn %}
    {% include '_includes/registered/need-help-quickly.html' %}
{% endblock rightColumn %}

{% include '_includes/registered/need-help-quickly.html' %}
