{% extends '_layouts/layout_2-3_1-3_v5.html' %}

{% block page_title %}
  V1
{% endblock page_title %}

{% block pageTitle %}
  Kenyon Medical Centres: Brandon Road
{% endblock pageTitle %}

{% block surgeryInfo %}
  {% include '_includes/phone-number.html' %}
{% endblock %}

<!-- Main content here -->
{% block content %}
  {% include '_includes/reception-opening-times.html' %}
  <hr class="hr--full-width" />
  {% include '_includes/tasks.html' %}
  <hr class="hr--full-width" />
{% endblock content %}


{% block rightColumn %}
    {% include '_includes/need-help-quickly.html' %}
{% endblock rightColumn %}

{% include '_includes/need-help-quickly.html' %}
