{% extends '_layouts/layout_mvp-v4_1.html' %}

{% block page_title %}
  Kenyon Medical Centres
{% endblock page_title %}

{% block pageTitle %}
  Kenyon Medical Centres
{% endblock pageTitle %}

<!-- Main content here -->
{% block content %}
  {% include '_includes/v1_4_1/online-tasks.html' %}
  <hr/>
  {% include '_includes/v1_4_1/reception-opening-times.html' %}
  {% include '_includes/v1_4_1/gp-appointment.html' %}
  <hr/>
  {% include '_includes/v1_4_1/what-patients-say-about-this-surgery.html' %}
  <hr/>
  {% include '_includes/v1_4_1/healthcare-staff-at-this-surgery.html' %}
  <hr/>
  {% include '_includes/v1_4_1/specialised-services.html' %}
  <hr/>
  {% include '_includes/v1_4_1/facilities.html' %}
  <hr/>
  <div id="contact_and_address">{% include '_includes/v1_4_1/contact_and_address.html' %}</div>
  <hr/>
  {% include '_includes/v1_4_1/register-as-patient.html' %}
{% endblock content %}
